/* src/styles/global.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main ocupa el espacio restante entre header y footer */
.contentX {
  flex: 1;
}
